body {
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
}

div {
    margin: auto;
    width: 495px;
}

.back_color {
    background: #ebebeb;
    text-align: center;
}

.heading {
    text-align: center;
    padding: 50px;
}

.margins {
    margin: 20px;
}

aside {
    float: left;
}

.article {
    position: absolute;
}