body {
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;

}
header,
nav,
section,
aside,
footer {
    background: #ebebeb;
    height: 50px;
    width: 495px;
    margin: auto;
    width: 50%;
}

article {
    color: #ebebeb;
    background: #777;
    height: 60px;
    position: relative;
    top: 35px;
    left: 5px;
    width: 281px;
}

h1, p {
    color: #777;
    background: #ebebeb;

}

.stan_marg {
    margin-top: 5px;
    margin-bottom: 5px;
}

.third_sect {
    margin-top: 10px;
    margin-bottom: 5px;
}

section {
    width: 291px;
    margin-right: 5px;
    margin-left: 240px;
    height: 100px;
    position: relative;
}

aside {
    width: 179px;
    height: 100px;
}

aside,
section {
    display: inline-block;
}

.small_section1 {
    height: 20px;
    position: relative;
    top: -15px;
    right: 10px;
    left: 15px;
    width: 261px;
    background: #ebebeb;
    margin-bottom: 5px;
}

.small_section2 {
    height: 20px;
    position: relative;
    top: -15px;
    right: 10px;
    left: 15px;
    width: 261px;
    background: #ebebeb;
}